@import '../../App';
.hero-section{
	height: 100vh;
	margin-top: -110px;
	background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../images/hero.png");
  	background-size:cover;
	background-position:center;
	
	.hero-content{
		color:$white-text;
		padding-left: 30px;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		align-items: center;
		padding:0 3%;
		max-width: 90%;
		margin: 0 auto;
		h1{
			font-family: $barlow-font;
			font-size:100px;
			font-weight: 800;
			line-height: 90px;
			text-transform: uppercase;
		}
		p, span{
			font-family: $rajdhani-font;
			font-size: 18px;
			line-height: 22px;
			font-weight: 600;
			margin:0;
			text-align: left;
		}
		.content-wrapper{
			padding-left:20px;
			border-left: 2px solid #cc9b55;
		}

	}
}
.hero-slider{
	position:absolute;
	bottom:0;
	left: 5%;
	width: 90%;
	background-color:$primary-color;
	display: flex;
	align-items:center;
	justify-content: space-between;
	color:$white-text;
	.controller{
		display: flex;
		flex-direction: row;
		align-items:center;
		justify-content: space-between;
		width: 70%;
		padding:0 50px;
		span{
			font-family: $rajdhani-font;
			font-weight: 500;
			font-size:12px;
			letter-spacing: 4.8px;
			text-transform: uppercase;
		}
		.slider-text{
			position:relative;
			&::before{
				content:"";
				width: 20px;
				height: 2px;
				background-color:#cc9b55;
				position:absolute;
				top: 7px;
				left: -29px;
			}
		}
		.slider-line{
			width:70%;
			height: 2px;
			background-color:#cc9b55;
		}
	}
	button {
		width: 30%;
		background-color:#fff;
		&:hover{
			background-color:#fff;
		}
		svg{
			color: #cc9b55;
			font-size:16px;
			margin-top: -4px;
		}
		
	}
}
.sidebar-left{
	background-color:$primary-color;
	position:absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 5%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items:center;
	color: $white-text;
	writing-mode: vertical-rl;
	text-orientation: sideways-left;
	font-family: $rajdhani-font;
	font-size: 10px;
	letter-spacing: 4px;
	line-height: 18px;
	color: #d0d0d4;
	font-weight: 600;
	.phone{
		margin-top:100px;
  		transform: rotate(180deg);
  		display: flex;
  		align-items:center;
  		.box-border{
  			height: 80px;
  			width: 30px;
  			border-top:2px solid $icon-color;
  			background-color:#20232a;
  			margin-top: 15px;
  		}
  		svg{
  			transform: rotate(225deg);
  			color: $icon-color;
  		}
	}
	.mail{
  		transform: rotate(180deg);
  		display: flex;
  		align-items:center;
		.box-border{
  			height: 80px;
  			width: 30px;
  			border-bottom:2px solid $icon-color;
  			background-color:#20232a;
  			margin-bottom: 15px;
  		}
		svg{
			transform: rotate(180deg);
  			color: $icon-color;
  			margin-bottom: 10px;
		}
	}
}	
.sidebar-right{
	background-color:$icon-color;
	position:absolute;
	right: 0;
	top: 0;
	width: 5%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items:center;
	color: $white-text;
	writing-mode: vertical-rl;
	.social-links{
		margin-top: 5%;
		a{
			color: $white-text;
			padding:10px;
			border:1px solid $white-text;
			margin-bottom: 5px;
			transition: all 0.3s ease;
			font-size: 12px;
			&:hover svg{
				transform: translatey(-5px);
			}
			svg{
			transition: all 0.3s ease;
			}
		}
	}
	.location{
		transform: rotate(180deg);
  		display: flex;
  		align-items:center;
		font-size: 11px;
		font-family: $rajdhani-font;
		.box-border{
			height: 80px;
  			width: 30px;
  			border-bottom:2px solid $white-text;
  			background-color:#d2a25e;
  			margin-bottom: 15px;
		}
		span{
			color: $white-text;
			text-transform: uppercase;
			svg{
				transform: rotate(90deg);
				margin-top: 10px;
				margin-bottom: 10px;
			}
		}
	}
}